  <th>
    <a href="/lists">
      <%= link_to list.first_name + " " + list.last_name , list , class:"friend-name" %>
    </a>
  </th>
  <td>
    <%= list.email %>
  </td>

  <td>
    <%= list.phone %>
  </td>

  <td>
    <%= list.twitter %>
  </td>
  <td>
    <%= list.user_id %>
  </td>


